html {
  font-family: sans-serif;
  background: #275503;
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: antiquewhite;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #144291;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + label {
  background: antiquewhite;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

label {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 1;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #144291;
}
